main {
    gap:40px;
    margin: 10px 5%;
    padding: 20px;
  }
a {
    text-decoration: none;
    color: #3a5a40;
}
a:hover {
    background-color: #3a5a40;
    color:#dad7cd;
}
.line{
    width:100%;
    border-bottom: 10px solid #3a5a40;
  }
img {
    margin: auto auto;
    width:100%;
    height:500px;
}